* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    margin: 5rem 0 4rem;
    font-size: 3.3rem;
}

#two {
    width: 80%;
}

.two-d input {
    width: 75%;
}
