* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Header Section */

.header{
    width: 100vw;
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 1rem 0 1rem 0;
    border: 0.2rem outset;
}

.logo{
    width: 15vw;
    min-height: 10vh;
    margin-top: -1rem;
}

.logoimg{
    width: 150px;
    height: 70px;
}

.navbar{
    width: 45vw;
    min-height: 10vh;
}

.navbar li{
    list-style: none;
    float: left;
    margin-top: 2rem;
    padding-right: 2.5rem;
}

.navbar a{
    font-size: 1.9rem;
    text-decoration: none;
    color: black;
}

.navbar a:hover{
    color:#FF0606;
}

.navbar .pro{
    color: #FF0606;
    border: 1px solid #FF0606;
    border-radius: 2rem;
    padding: 0.5rem;
}

.login{
    width: 15vw;
    min-height: 10vh;
}

.login li{
    list-style: none;
    float: left;
    margin-top: 2rem;
    padding-right: 2.5rem;
}

.login a{
    font-size: 1.5rem;
    text-decoration: none;
    color:black;
}

.login a:hover{
    text-decoration: underline;
    color:#FF0606;
}

.login .sign{
    color: #FF0606;
    border: 1px solid #FF0606;
    border-radius: 1rem;
    padding: 0.5rem;
}

li.dropdown{
    background-color: #FFF;
    position: relative;
    display: inline-block;
}

li a:hover, .dropdown:hover .dropbtn {
    color: #FF0505; }

li a:hover, .dropdown2:hover .dropbtn1 {
        color: #FF0505; }

.dropdown1 h2{
    margin-bottom: 1rem;
}

.chead{
    margin-top: -22.5rem;
    margin-left: 20rem
}

.clink{
    margin-left: 20rem;
}

.dropdown1{
    display: none;
    position: absolute;
    background-color: #FFF;
    z-index: 1;
    min-width: 40vw;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown1 a:hover{
    color:#FF0505;
    text-decoration: underline;

}

.dropdown3 a:hover{
    color:#FF0505;
    text-decoration: underline;
}

.dropdown1 a{
    color: black;
    padding: 1rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown1{
    display: block;
}

.dropdown3 h2{
    margin-left: 1rem;

}

li.dropdown2{
    background-color: #FFF;
    position: relative;
    display: inline-block;
}

.dropdown3{
    display: none;
    position: absolute;
    background-color: #FFF;
    z-index: 1;
    min-width: 40vw;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown2:hover .dropdown3{
    display: block;
}


.dropdown3 a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown2:hover .dropdown3{
    display: block;
}

.d1{
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.d2{
    margin-left: 4rem;
    margin-bottom: 2rem;
}

li.menuicon{
    background-color: #FFF;
    position: relative;
    display: inline-block;
}

.menu{
    display: none;
    position: absolute;
    background-color: #FFF;
    z-index: 1;
    width: 12vw;
    height: 16vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menuicon:hover .menu{
    display: block;
}


.menu a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.3rem;
}

.menu a:hover{
    color:#FF0505;
    text-decoration: underline;
}

li a:hover, .menuicon:hover:hover .burg {
    color: #FF0505;
}

.d3{
    margin-left: 1rem;
    margin-bottom: 2rem;
}


.sub-three {
    width: 55%;
}

.sub-three input {
    width: 700%;
    height: 6.5rem;
    border-radius: 2rem;
    color: #696868;
    padding: 0 2rem 0 6.2rem;
    font-size: 1.8rem;
    background-color: white;
    border: 1px solid #dfe2e7;
}

.two-d input {
    width: 52%;
}

/*Footer*/

.footer{
    width: 100vw;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.footer-items{
    width: 30vw;
    min-height: 10vh;
}

.footerlogo{
    margin-left: 10rem;
    margin-top: -1.5rem;
}

.copyright{
    margin-right: 3rem;
}

.copyright p{
    font-size: 1.5rem;
}
