* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #062426;
    font-family: "Inter", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
}

h1 {
    color: white;
    font-size: 5rem;
}

img {
    height: 40rem;
}
