* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


main {
    margin: 0 auto;
    /* width: 90%; */
}

/* Header Section */

.header{
    width: 100vw;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem 0 1rem 0;
    border: 0.2rem outset;
}

.logo{
    width: 15vw;
    min-height: 10vh;
    margin-top: -0.5rem;
}

.logoimg{
    width: 150px;
    height: 80px;
}

.navbar{
    width: 55vw;
    min-height: 10vh;
}

.navbar li{
    list-style: none;
    float: left;
    margin-top: 1.8rem;
    padding-right: 2.5rem;
}

.navbar a{
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
}

.navbar a:hover{
    color:#FF0606;
}

.navbar .pro{
    color: #FF0606;
    border: 1px solid #FF0606;
    border-radius: 2rem;
    padding: 0.5rem;
}

.login{
    width: 13vw;
    min-height: 10vh;
}

.login li{
    list-style: none;
    float: left;
    margin-top: 2rem;
    padding-right: 2.5rem;
}

.login a{
    font-size: 1.9rem;
    text-decoration: none;
    color:black;
}

.login a:hover{
    text-decoration: underline;
    color:#FF0606;
}

.login .sign{
    color: #FF0606;
    border: 1px solid #FF0606;
    border-radius: 1rem;
    padding: 0.5rem;
}

li.dropdown{
    background-color: #FFF;
    position: relative;
    display: inline-block;
}

li a:hover, .dropdown:hover .dropbtn {
    color: #FF0505; }

li a:hover, .dropdown2:hover .dropbtn1 {
        color: #FF0505; }    

.dropdown1 h2{
    margin-bottom: 0;
    font-size: 1.8rem;
}

.dropdown2 h2{
    font-size: 1.8rem;
}

.chead{
    margin-top: -23rem;
    margin-left: 20rem
}

.clink{
    margin-left: 20rem;
}

.dropdown1{
    display: none;
    position: absolute;
    background-color: #FFF;
    z-index: 1;
    min-width: 35vw;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown1 a:hover{
    color:#FF0505;
    text-decoration: underline;
    
}

.dropdown3 a:hover{
    color:#FF0505;
    text-decoration: underline;
}

.dropdown1 a{
    color: black;
    padding: 1rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown1{
    display: block;
}

.dropdown3 h2{
    margin-left: 1rem;
    
}

li.dropdown2{
    background-color: #FFF;
    position: relative;
    display: inline-block;
}

.dropdown3{
    display: none;
    position: absolute;
    background-color: #FFF;
    z-index: 1;
    min-width: 35vw;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown2:hover .dropdown3{
    display: block;
}


.dropdown3 a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown2:hover .dropdown3{
    display: block;
}

.d1{
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.d2{
    margin-left: 4rem;
    margin-bottom: 2rem; 
}



h1 {
    text-align: center;
    margin: 7rem 0 5.5rem;
    font-size: 4rem;
}

#one {
    background-color: #c0d0d0;
}

#one .red-corner-box {
    background-color: #cb1313;
}

#one input {
    background-color: #cb1313;
    border: none;
    color: white;
}

#two {
    background-color: #333452;
    color: white;
}

#two .yellow-corner-box {
    background-color: #ff9f03;
}

#two input {
    background-color: #ff9f03;
    border: none;
}

#three {
    background-color: #c0d0d0;
}

#three .blue-corner-box {
    background-color: #1361c6;
}

section {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section #one, section #two, section #three {
    height: 55rem;
    width: 29%;
    padding: 0rem 2.3rem 2.3rem;
    border-radius: 2.2rem;
}

#plan-packages {
    display: flex;
    justify-content: space-evenly;
}

/* section #one, section #two {
    margin-right: 8%;
} */

.security-text {
    text-align: center;
    margin: 9rem 0 6rem;
}

.security-text h2 {
    font-size: 3rem;
    margin: 2.5rem 0 1rem;
}

.security-text p {
    font-size: 1.3rem;
}

section #one h2, section #two h2, section #three h2 {
    font-size: 3.9rem;
}

section #one h3, section #two h3, section #three h3 {
    font-size: 2.8rem;
    margin: 0.3rem;
}

section #one p, section #two p, section #three p {
    font-size: 2.2rem;
    padding: 1rem 0;
}

.one-input, .two-input, .three-input {
    display: flex;
}

#one, #two, #three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.three-input, .two-input, .one-input {
    display: flex;
    justify-content: end;
}

#three input, #two input, #one input{
    padding: 1.8rem;
    width: 105%;
    border-radius: 1.5rem;
    font-size: 2rem;
}

#three input:hover, #two input:hover, #one input:hover {
    cursor: pointer;
}

#three input {
    border: 1px solid #cb1313;
}

.security-text p a {
    color: rgb(32, 32, 32);
}

.red-corner-box {
    background-color: #cb1313;

}

.yellow-corner-box {
    background-color: #ff9f03;
}

.blue-corner-box {
    background-color: #1361c6;
}

.blue-corner-box, .yellow-corner-box, .red-corner-box {
    width: 7rem;
    height: 7rem;
    border-top-right-radius: 2rem;
}

.three-box, .two-box, .one-box {
    width: 106.38%;
    display: flex;
    justify-content: end;
    align-items: end;
}


/*Footer*/

.footer{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20rem 2rem -10rem 0;
}

.footer-items{
    width: 30vw;
    min-height: 10vh;
}

.footerlogo{
    margin-left: 10rem;
}

.copyright{
    margin-right: 3rem;
}

.copyright p{
    margin-top: 3rem;
    font-size: 1.5rem;
}
