* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.three-box, .two-box, .one-box {
    width: 107.18%;
    display: flex;
    justify-content: end;
    align-items: end;
}

/*Footer*/

.footer{
    width: 100vw;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.footer-items{
    width: 30vw;
    min-height: 10vh;
}

.footerlogo{
    margin-left: 10rem;
    margin-top: -1.5rem;
}

.copyright{
    margin-right: 3rem;
}

.copyright p{
    font-size: 1.5rem;
}
