* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.sub-three {
    flex-direction: column;
}

.sub-three div {
    margin: 1.5rem 0;
}


#two {
    width: 60%;
}

.two-d input {
    width: 65%;
}
