* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#one p {
    font-size: 1.9rem;
}

#one {
    width: 100%;
}

#one h1 {
    font-size: 3rem;
}

#one {
    margin: 0rem auto 4rem;
}

#two .input-fields {
    width: 90%;
    margin: 0 auto;
    font-weight: 1.5rem;
}

#two h2 {
    width: 80%;
}

.two-btn input {
    width: 85%;
}

#three {
    width: 90%;
}

.four-b img {
    height: 7rem;
    width: 40%;
}

.four-a img {
    width: 90%;
    height: 8rem;
}

#four h2 {
    font-size: 1.6rem;
}
