* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    display: flex;
    justify-content: left;
    width: 80%;
    margin: 4% 20%;
    align-items: center;
}

#main-sections section {
    display: flex;
    /* justify-content: space-between; */
}

.two-a, .two-b, .two-c {
    padding: 2rem 0;
}

#one h1 {
    font-size: 4.7rem;
    padding: 3rem 0rem 4.7rem;
}

#two {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    /* border: 1px solid black; */
    /* width: 100%; */
}

#two input, #two label {
    font-size: 2.2rem;
    padding: 0.4rem;
}

.two-a, .two-b, .two-c {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    justify-content: center;
}

.two-a input, .two-b input {
    width: 370%;
    height: 6.5rem;
    outline: 1px solid black;
}

.two-c textarea {
    resize: none;
    width: 104.7rem;
    height: 42rem;
    outline: 1px solid black;
}

#three {
    width: 105rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
}

#three input {
    border: none;
    background-color: #fe0501;
    color: white;
    font-size: 2.1rem;
    padding: 2rem;
    margin: 3rem 0;
}
