* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
}

main {
    margin: 6% 10%;
}

#one {
    width: 55%;
}

h1 {
    font-size: 4.5rem;
    margin: 3rem 0;
}

#two {
    font-size: 2.3rem;
}

.two-a, .two-b, .two-c {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.two-a label, .two-b label, .two-c label {
    margin: 0.5rem 0;
}

textarea {
    resize: none;
    height: 45rem;
    border: 1px solid black;
}

.two-a input, .two-b input {
    height: 6rem;
    border: 1px solid black;
    font-size: 2.3rem;
}

#three {
    display: flex;
    justify-content: flex-end;
    margin: 4rem 0;
}

#three input {
    background-color: #fe0501;
    color: white;
    height: 11%;
    font-size: 2.3rem;
    border: none;
    width: 27rem;
    padding: 2rem;
}
