* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


.two-btn input {
    margin: 0 auto;
    width: 33%;
}

#three {
    width: 50%;
}

.two-btn {
    width: 67%;
    margin: 1.7rem auto;
    display: flex;
    justify-content: flex-end;
}

.two-btn a {
    width: 70%;
    justify-content: flex-end;
}
