* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #062426;
    color: white;
    text-align: center;
}

/* Header Section */

.header{
    width: 100vw;
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 2rem 0 1rem 0;
    border: 0.2rem outset;
}

.logo{
    width: 15vw;
    min-height: 10vh;
    margin-top: -0.5rem;
}

.logoimg{
    width: 170px;
    height: 100px;
}

.navbar{
    width: 45vw;
    min-height: 10vh;
}

.navbar li{
    list-style: none;
    float: left;
    margin-top: 2rem;
    padding-right: 2.5rem;
}

.navbar a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.navbar a:hover{
    color:#FF0606;
}

.navbar .pro{
    color: #FF0606;
    border: 1px solid #FF0606;
    border-radius: 2rem;
    padding: 0.5rem;
}

.login{
    width: 15vw;
    min-height: 10vh;
}

.login li{
    list-style: none;
    float: left;
    margin-top: 2rem;
    padding-right: 2.5rem;
}

.login a{
    font-size: 1.5rem;
    text-decoration: none;
    color:black;
}

.login a:hover{
    text-decoration: underline;
    color:#FF0606;
}

.login .sign{
    color: #FF0606;
    border: 1px solid #FF0606;
    border-radius: 1rem;
    padding: 0.5rem;
}

li.dropdown{
    background-color: #FFF;
    position: relative;
    display: inline-block;
}

li a:hover, .dropdown:hover .dropbtn {
    color: #FF0505; }

li a:hover, .dropdown2:hover .dropbtn1 {
        color: #FF0505; }

.dropdown1 h2{
    margin-bottom: 1rem;
}

.chead{
    margin-top: -23rem;
    margin-left: 20rem
}

.clink{
    margin-left: 20rem;
}

.dropdown1{
    display: none;
    position: absolute;
    background-color: #FFF;
    z-index: 1;
    min-width: 35vw;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown1 a:hover{
    color:#FF0505;
    text-decoration: underline;

}

.dropdown3 a:hover{
    color:#FF0505;
    text-decoration: underline;
}

.dropdown1 a{
    color: black;
    padding: 1rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown1{
    display: block;
}

.dropdown3 h2{
    margin-left: 1rem;

}

li.dropdown2{
    background-color: #FFF;
    position: relative;
    display: inline-block;
}

.dropdown3{
    display: none;
    position: absolute;
    background-color: #FFF;
    z-index: 1;
    min-width: 35vw;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown2:hover .dropdown3{
    display: block;
}


.dropdown3 a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown2:hover .dropdown3{
    display: block;
}

.d1{
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.d2{
    margin-left: 4rem;
    margin-bottom: 2rem;
}

li.menuicon{
    background-color: #FFF;
    position: relative;
    display: inline-block;
}

.menu{
    display: none;
    position: absolute;
    background-color: #FFF;
    z-index: 1;
    width: 9vw;
    height: 16vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menuicon:hover .menu{
    display: block;
}


.menu a{
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.3rem;
}

.menu a:hover{
    color:#FF0505;
    text-decoration: underline;
}

li a:hover, .menuicon:hover:hover .burg {
    color: #FF0505;
}

.d3{
    margin-left: 1rem;
    margin-bottom: 2rem;
}


#one h1 {
    font-size: 4.5rem;
    margin: 8rem 0 1.5rem;
}

#one p {
    font-size: 2rem;
}

#one p span {
    font-weight: 600;
}

#one {
    width: 80%;
    margin: 0rem auto 10rem;
}

#two .input-fields {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.input-fields input {
    height: 6rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem;
    font-size: 2rem;
}

#two h2 {
    width: 38%;
    margin: 0 auto;
    padding: 1rem 0;
    border-bottom: 1px solid white;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
}

.two-btn {
    width: 46%;
    margin: 1.7rem auto;
    display: flex;
    justify-content: flex-end;
}

.two-btn a {
    width: 50%;
    justify-content: flex-end;
}

.two-btn input {
    border: none;
    background-color: #fc0504;
    width: 63%;
    color: white;
    height: 5rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 1rem;
}

#three img {
    height: 2.4rem;
}

#three {
    width: 29%;
    display: flex;
    margin: 5rem auto;
}

.three-a, .three-b {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 3rem;
    font-size: 2rem;
}

.three-a img, .three-b img {
    margin: 0 0.5rem;
}


.four-b img {
    height: 10rem;
    width: 60%;
}

.divide-line {
    height: 0.3rem;
    margin: 8rem auto;
    background-color: white;
    width: 70%;
}

.four-a, .four-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3.4rem;
}

#four {
    display: flex;
    margin-bottom: 10rem;
    justify-content: center;
    align-items: center;
}

.four-a img {
    width: 100%;
    height: 10rem;
}

#four h2 {
    font-size: 1.8rem;
}
